.nav {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ececec;
}
.nav_text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}
.nav .logo_n {
  width: 100%;
  height: 71px;
  background: #29b712;
  margin-bottom: 20px;
}
.logo_img {
  max-width: 49.21px;
  width: 100%;
  height: auto;
  margin: 20px auto;
}
.adduser {
  margin-bottom: 72px;
  text-decoration: none;
}

.patent_img {
  max-width: 18px;
  width: 100%;
}

.folder_img {
  max-width: 24px;
  width: 100%;
}
.download_img {
  max-width: 28px;
  width: 100%;
}
.file_img {
  max-width: 23px;
  width: 100%;
}
.setting_img {
  max-width: 27px;
  width: 100%;
}
.next_img {
  max-width: 24px;
  width: 100%;
}
