.userprofile {
}
.profile {
  width: 92px;
  height: 92px;

  margin-top: 36px;
}
.name {
  margin-top: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #242831;
}
.email {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
}

.number {
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
  margin-top: 12px;
  display: flex;
}
.number1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #242831;
}
.manage1 {
  max-width: 50px;
  margin: 0 auto;
  width: 100%;
}
span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  color: #6b6b6b;
}
.rborder {
  border-right: 1px solid #6b6b6b;
}
.btn1 {
  width: 225px;
  height: 40px;
  margin-top: 70px;
  margin-left: 14px;
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  border: 1px solid #6b6b6b;
  padding: 10px;
  border-radius: 5px;
}

.flex {
  display: flex;
}
.align {
  justify-content: space-around;
}
.file_doc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #242831;
  margin: 65px 24px;

  text-align: left;
}
.result {
  width: 230px;
  height: 40px;
  margin-top: 35px;
  margin-left: 20px;
  display: flex;
  background: #f9f9f9;
  padding: 7px 13px;
}
.result2 {
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin: 0 36px;
  color: #36393e;
}
